@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

*:not(code > *) {
  font-family: "Manrope", sans-serif !important;
}

code > * {
  font-family: "Inconsolata", monospace;
}

.logo .image img {
  height: 60px;
  width: auto;
}

.content {
  word-break: break-word;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8f0fc;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}
